:root {
  --body-bg-color: #000;
  --main-text-color: #c0c0c0;
  --section-title-color: #fff;
  --accent-color: rgba(255, 255, 255, 0.8);
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  /* outline: 1px solid red; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.43;
  color: var(--main-text-color);
  background-color: var(--body-bg-color);
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section-main-title {
  font-size: 40px;
  line-height: 1.05;
  color: var(--section-title-color);

  text-align: center;
  margin-bottom: 15px;
}
.section-sub-title {
  font-size: 23px;
  line-height: 1.3;
  color: var(--main-text-color);

  text-align: center;
}

.uppercase-title {
  line-height: 1.43;
  font-size: 14px;

  letter-spacing: 2px;
  text-transform: uppercase;
}

.hero .uppercase-title {
  font-size: 14px;
  line-height: 1.43;

  letter-spacing: 2px;
  text-transform: uppercase;
}

/* -----MAIN-BTN------  */
.main-btn {
  display: inline-block;
  color: #000;
  background-color: #fff;
  border-radius: 14px;
  line-height: 1.2;
  border: 1px solid transparent;
  padding: 10px;
}
.btn-svg {
  display: inline-block;
  vertical-align: middle;
  fill: inherit;
  margin-right: 5px;
}
.main-btn:hover {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}
.main-btn:hover .btn-svg {
  fill: currentColor;
}

/* ---------BANER----------  */

.background-baner {
  min-height: 600px;
  max-width: 1440px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  position: relative;
  background-repeat: no-repeat;
}

.baner {
  display: flex;
  justify-content: flex-end;
  margin-right: -5%;
}

.background-baner-wrap {
  max-width: 298px;
}

.background-baner .section-icon {
  position: absolute;
}

.background-baner .text {
  line-height: 1.43;
  font-weight: 200;
  max-height: 400px;
  overflow: hidden;
}

/* --------------------------------------  */
/* --------------------------------------  */
/* --------------------------------------  */

/* --------header--------  */
.main-nav {
  font-size: 15px;
  line-height: 1.33;
  color: var(--section-title-color);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 34px;
  padding-bottom: 36px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-list > .nav-item:not(:last-child) {
  margin-right: 10px;
}

.nav-link {
  display: inline-block;

  border: 1px solid transparent;
  border-radius: 14px;

  padding: 9px 20px;
}

.nav-link:hover {
  background-color: #fff;
  color: var(--body-bg-color);
  transition: 0.3s;
}

/* --------hero-------- */
.hero {
  display: flex;
  text-align: center;
  align-items: flex-end;

  padding-bottom: 41px;

  min-height: 716px;
  max-width: 1440px;
  margin: 0 auto;

  background-image: url(../image/hero.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  position: relative;
}

.hero > .uppercase-title {
  margin-bottom: 1px;
}

.hero-title {
  font-size: 54px;
  line-height: 1.1;

  color: #ffffff;

  margin-bottom: 18px;
}

.hero-text {
  display: inline-block;
  max-width: 580px;
  text-align: center;
  line-height: 1.43;
  margin-bottom: 4px;
}

.hero .section-icon {
  position: absolute;
}
.section-icon {
  display: flex;
  justify-content: flex-end;

  bottom: 40px;
  right: 40px;
}

.section-icon .icon {
  vertical-align: middle;
}

.icon-item:not(:last-child) {
  margin-right: 16px;
}

/* -----------our-work-----------  */

.our-work {
  padding-top: 120px;
  padding-bottom: 100px;
}

.our-work .section-sub-title {
  margin-bottom: 42px;
}

.our-work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.our-work-item {
  width: 576px;

  flex-basis: calc((100% - 16px) / 2);
}

.our-work-item {
  position: relative;
}

.our-work-wrap {
  max-width: 514px;
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.our-work-title {
  margin-bottom: 10px;
  color: var(--section-title-color);
}

.our-work-text {
  line-height: 1.43;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  margin-bottom: 15px;
}

/* ----------Mauntine-baner-1----------  */

.mauntine-baner-1 {
  background-image: url(../image/baner-mountain-1.jpg);
}

/* ----------Tools-we-use----------  */

.tools-we-use .uppercase-title {
  margin-bottom: 6px;
}

.tools-we-use .secondary-title {
  font-size: 28px;
  line-height: 1.14;
  color: #ffffff;

  margin-bottom: 14px;
}

.tools-we-use .text {
  font-weight: 200;
  line-height: 1.43;

  color: #ffffff;
  margin-bottom: 20px;
  max-width: 514px;
}
.tools-we-use {
  position: relative;

  background-image: url(../image/tools-we-use.jpg);
  background-repeat: no-repeat;
  background-position: right;
  min-height: 540px;
  max-width: 1440px;
  margin: 0 auto;

  display: flex;
  align-items: center;
}

.tools-we-use .section-icon {
  position: absolute;
}

/* -------plant-baner-------  */
.plant-baner {
  background-image: url(../image/baner-plants.jpg);
}

/* -------past-clients-------  */
.past-clients {
  padding-top: 120px;
  padding-bottom: 100px;
}

.past-clients .section-sub-title {
  margin-bottom: 109px;
}
.past-clients-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* -------------Mauntine-Baner-2-----------------  */

.mauntine-baner-2 {
  background-image: url(../image/baner-mountain-2.jpg);
}

/* -------------Need help---------------  */

.need-help {
  padding-top: 113px;
  padding-bottom: 108px;

  position: relative;
}

.need-help .section-main-title {
  max-width: 571px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.need-help .section-sub-title {
  margin-bottom: 12px;
}
.need-help-btn {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

/* ------------Footer------------------------  */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-wrapper {
  display: flex;
  margin-bottom: 36px;
}

.logo-footer-block {
  flex-grow: 1;
}

.logo-footer-text,
.input-text {
  font-size: 13px;
  line-height: 1.54;
  margin-top: 20px;
}
.areas-list {
  margin-right: 55px;
}

.areas-item:not(:first-child),
.pages-item:not(:first-child) {
  color: var(--section-title-color);
  line-height: 1.43;
}

.areas-item:not(:last-child),
.pages-item:not(:last-child) {
  margin-bottom: 10px;
}

.areas-item:not(:first-child):hover,
.pages-item:not(:first-child):hover {
  transform: scale(1.05);
  -webkit-transition: 0.2s ease-out;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;

  border-top: 1px solid var(--main-text-color);
  border-bottom: 1px solid var(--main-text-color);

  padding-top: 36px;
  padding-bottom: 36px;
  align-items: center;

  margin-bottom: 56px;
}

.input {
  width: 400px;

  border: none;
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
}

.input-btn {
  text-transform: uppercase;
}

.input::placeholder {
  color: var(--main-text-color);
}
.input:focus::placeholder {
  color: transparent;
}

.social-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-icon-list {
  display: flex;
}

.footer-icon-item:not(:last-child) {
  margin-right: 20px;
}

.footer-icon-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-svg {
  fill: currentColor;
}
.footer-icon-item:hover .footer-svg {
  transform: scale(1.05);
  -webkit-transition: 0.2s ease-out;
  fill: #000;
}

.footer-icon-item:hover {
  background-color: #fff;
}
.footer-icon-item > a {
  height: 24px;
}
